= form_for @identity, url: identity_path do |form|
  - if @identity.errors.any?
    %h2 Form is invalid
    %ul
      - for message in @identity.errors.full_messages
        %li
          = message
  %p
    = form.label :email
    = form.text_field :email
  %p
    = form.label :password
    = form.password_field :password
  %p
    = form.label :password_confirmation
    = form.password_field :password_confirmation
  %p.button
    = form.submit t('.create')
