!!!
%html
  %head
    %title Events
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Eventos', root_path, class: 'brand'
          .navbar-content
            %ul.nav
              %li.active
                = link_to 'Inicio', root_path
          .navbar-content
            %ul.nav.pull-right
              -if identity_logged?
                %li=link_to "Hola #{current_identity.email}"
                %li= link_to 'Cerrar session', log_out_path
              - else
                %li=link_to "Registro", sign_up_path
                %li= link_to 'Iniciar session', log_in_path
    .container.content
      = yield
